*{
    border: red 1px ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1vw;
    font-family: 'Sarabun', sans-serif;
    color: #393d3f;
}


/*---HEADER---*/
header{
    position: fixed;
    width: 100vw;
    z-index: 1;
    margin-top: -17vh;
}
    .header-container{
        background-color: #e6e6e6;
        padding: 1rem;
        width: 100vw;
        height: 17vh;
    }
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 70vw;
            margin: auto;
            background-color: #e6e6e6;
            height: 100%;
        }
            .logo{
                background-color: #62929e;
                height: 5rem;
            }
            .logo:hover{background-color: #393d3f;}
                .logo a{
                    text-decoration: none;
                    font-size: 2rem;
                    color: #e6e6e6;
                }

            .menu{
                display: flex;
                align-items: center;
            }
                .menu a{
                    text-decoration: none;
                    margin: 1rem;
                    font-size: 1rem;
                    color: #62929e;
                    font-weight: bold;
                }
            .menu :hover{opacity: 0.6;}


/*---1st_BLCOK---*/
main{
    margin-top: 17vh;
    background-color: #e6e6e6;
    padding: 1rem;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-main{
    background-color: #e6e6e6;
    width: 100vw;
}
    .container-main img{
        border-radius: 50%;
        width: 22%;
        display: block;
        margin: auto;
    }
    .container-main h1{
        font-size: 4.5rem;
        font-weight: 100;
    }
    .container-main span{
        color: #62929e;
        font-weight: 800;
    }
    .container-main p{
        margin: 1rem;
        font-size: 1.2rem;
        font-weight: 100;
    }

/*---2nd_BLOCK---*/
.nd{
    height: 80vh;
    display: flex;
}

.container-nd{
    align-items: center;
    max-width:70vw;
    margin: auto;
    text-align: center;
}
    .container-nd p{
        font-size: 3rem;
    }
    .container-nd span{
        color: #62929e;
        font-weight: bold;
        font-size: 4rem;
    }
    .container-nd h3{
        margin: 5rem 0 0 0 ;
    }
    .container-nd h4{
        margin: 1rem;
        font-size: 0.8rem;
        font-weight: 100;
    }

/*---3rd_BLOCK---*/
.rd{
    background-color: #e6e6e6;
}

.container-rd{
    max-width: 70vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left_column{
    display: flex;
    flex-direction: column;
    margin: auto;
}
    .left_column p{
        margin: 0.5rem;
        font-size: 1.5rem;
    }
    .left_column span{
        color: #62929e;
        font-weight: bold;
        font-size: 1.7rem;
    }

.right_column {
    margin: auto;

}
    .right_column img{
        width: 25vw;
        display: block;
        padding: 1vw;
        margin: 1vw;
    }
    .right_column video{
            width: 100%;
            margin: 7rem auto;
            box-shadow: 11px 13px 19px -7px rgba(0,0,0,0.88);
    }

/*---FOOTER---*/
footer{
    height: 15vh;
    font-size: 0.7rem;
    background-color: #393d3f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e6e6e6;
}
    footer h1{
        padding: 1rem;
    }
    footer a{
        color: #e6e6e6;
        font-weight: bold;
        font-size: 1.5rem;
    }




@media only screen and (max-width: 1200px) {
    /*  1200    */
    html{
        font-size: 1.4vw;
    }
    
    /*--MAIN--*/
    .container-main img{
        width: 30%;
    }

    /*---3rd_BLOCK---*/
    
}

@media only screen and (max-width: 768px) {
    /*  768  */

    html{
        font-size: 1.7vw;
    }


    /*---HEADER--*/
    .container{
        max-width: 90vw;
    }


    /*---MAIN---*/
    .container-main img{
        width: 40%;
    }


    /*---3rd_BLOCK---*/
    .container-rd{
        max-width: 90vw;
        display: flex;
        flex-direction: column;
    }
    .left_column{
        margin-top: 2rem;
    }
        .left_column p{
            margin-top: 1.5rem;
        }
    .right_column video{
        width: 60%;
        display: block;
        margin: 2rem auto;
    }
    }

    
    
    


