html{
    margin: 0;
    padding: 0;
    font-size: 1vw;
    font-family: 'Sarabun', sans-serif;
    color: #393d3f;
    background-color: #e6e6e6;
}
*{
    border: red 1px ;
    box-sizing: border-box;
    margin: 0;
}


/*---HEADER---*/
.title-container{
    max-width: 70vw;
    margin: 3rem auto 0;
    display: flex;
    justify-content: center;
}
    .box{
        width: 3rem;
        height: 4rem;
        margin: 0.5rem;
        background-color: #62929e;
    }
    .title-container p{
        font-size: 4rem;
        font-weight: bold;
    }
.menu{
    max-width: 70vw;
    margin: auto;
    display: flex;
    justify-content: center;
}
    .menu a{
        margin: 1rem 1rem;
        text-decoration: none;
        color: #393d3f;
        font-weight: 500;
    }
    .menu span{
        color: #62929e;
        font-style: italic;
        font-weight: 900;
    }


/*---MAIN1---*/
main{
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
    main p{
        font-size: 5rem;
    }


/*---MAIN2---*/
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 40vw;
    max-width: 70vw;
    margin: auto;
}
    .img{
        display: flex;
        justify-content: center;
    }
    .img img{
        width: 80%;
        object-fit: cover;
    }
    .discription{
        padding: 0 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


/*---MAIN3---*/
.main3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    height: 30vw;
}
    .main3 .discription{
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: end;
    }